<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf8">
        <link href="/css/main.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <title>{{title}}</title>
    </head>

    <body>
        {{{body}}}
    </body>
</html>